{% extends 'main.html' %} {% block content %}

<h1>hashtagAnalysis</h1>
<table>
  <thead>
    <tr>
      <th>Tweets</th>
      <th>User_name</th>
      <th>User_id</th>
      <th>User_statuses_count</th>
      <th>user_followers</th>
      <th>User_location</th>
      <th>User_verified</th>
      <th>fav_count</th>
      <th>rt_count</th>
      <th>tweet_date</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <!-- jinja2 Technique -->
    {% if d %} {% for i in d %}
    <tr>
      <td>{{i.Tweets}}</td>
      <td>{{i.User_name}}</td>
      <td>{{i.User_id}}</td>
      <td>{{i.User_statuses_count}}</td>
      <td>{{i.user_followers}}</td>
      <td>{{i.User_location}}</td>
      <td>{{i.User_verified}}</td>
      <td>{{i.fav_count}}</td>
      <td>{{i.rt_count}}</td>
      <td>{{i.tweet_date}}</td>
      {% if i.url == "not-available"%}
      <td>{{i.url}}</td>
      {% else %}
      <td><a href="{{i.url}}">{{i.url}}</a></td>
      {% endif %}
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
<a href="../downloadFile" download>download </a>

{% endblock %}
